<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout ::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/product"><h1>Product Management</h1></a>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<a href="/product/create">
    <button class="my-2 bg-primary">Add new product</button>
</a>
<form class="d-flex col-3 my-3" role="search" action="/product/search" method="post">
    <input th:value="${name}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<table class="table table-striped">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product,status:${productList}">
        <td th:text="${status.count}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getManufacturer()}"></td>
        <td><a th:href="@{/product/detail(id=${product.getId()})}" th:text="Detail"></a></td>
        <td><a th:href="@{/product/edit(id=${product.getId()})}" th:text="Edit"></a></td>
<!--        <td><a th:href="@{/product/delete(id=${product.getId()})}" th:text="Delete"></a></td>-->
        <td>
            <button type="button" class="btn btn-outline-danger text-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    th:onclick="'deleteProduct(\''+${product.getId()}+'\',\''+${product.getName()}+'\')'">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    <tr th:if="${productList.isEmpty()}">
        <td th:colspan="8" class="text-danger">Not found product</td>
    </tr>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/product/delete" method="get">
                <input hidden="hidden" name="action" value="delete">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel">Delete product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input hidden="hidden" name="id" id="idDelete">
                    Are you sure want to delete <span id="deleteName"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/layout::footer">
</footer>
<script>
    function deleteProduct(id, name) {
        document.getElementById("deleteName").innerHTML = name;
        document.getElementById("idDelete").value = id;
    }
</script>
</body>
</html>