<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/phone}" th:object="${phoneDto}"
      method="POST">
    <table>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{numberPhone}"/></td>
            <td th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}">Name Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>