<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add new blog</h3>
<p>
    <a href="/blog">
        Back to list
    </a>
</p>
<div id="form">
    <form action="/blog/save" th:object="${blog}" method="post">
        <!--        <input type="hidden" th:field="*{id}"/>-->
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="content">Content</label>
            <textarea style="width: 100%" id="content" th:field="*{content}"></textarea>
        </div>
        <div>
            <select class="form-select" aria-label="Default select example" th:field="*{categoryBlog}">
                <option th:each="category,status:${categoryList}" th:text="${category.getNameCategory()}"
                        th:value="${category.getId()}"></option>
            </select>
        </div>
        <input type="submit" value="Add"/>
    </form>
</div>
<!--<footer th:replace="layout::footer">-->
</footer>
</body>
</html>